<h4><%= talk.name %></h4>
<div>วันที่ <%= l talk.start_at, format: :formal %></div>
<div>เวลา <%= l talk.start_at, format: :time_only %> - <%= l talk.end_at, format: :time_only %></div>
<div><%= markdown(talk.description) %></div>